{% extends 'products/base.html'%}
{% block body%}
{% load static%}
<link rel="stylesheet" href="{%static 'css/profile.css'%}">
<a onclick="history.back()">
  <i class="fa-sharp fa-solid fa-arrow-left text-dark fa-2x m-3"></i>
  </a>
<form action="" method="post" enctype="multipart/form-data" >
{%csrf_token%}
{{form.media}}
<div class="container rounded bg-white" >
  {% if userprofile%}
  <h1 class="text-center  text-dark fw-bold">Update Profile</h1>
  {% else%}
  <h1 class="text-center  text-dark fw-bold">User Profile</h1>
  {% endif%}

</div>
<div class="container bg-white rounded mb-5">
  
  <div class="row  ">
    <div class="col-4"></div>
    <div class="col-4 main-col   ">
      <div class="my-3 text-dark fw-bold" >
        <label for="id_profile_pic ">Profile Picture</label>
      <input class="form-control" type="file" name="profile_pic" accept="image/*" id="id_profile_pic">
      </div>
      <div class="my-3 text-dark fw-bold" >
        <label for="id_bio">Bio</label>
        <input class="form-control" type="text" name="bio" maxlength="200" required="" id="id_bio">

      </div>
     <div class="my-3 text-dark fw-bold" >
      <label for="id_phone_no">Phone No</label>
      <input class="form-control" type="number" name="phone_no" required="" id="id_phone_no">

     </div>
      <div class="my-3 " >
        <input type="submit" class="btn form-control text-white fw-bold " name="" id="" value="Save" style="background-color: #345ceb;">
      </div>
      


    </div>
    </div>
</div>
</form>

{% endblock%}












