{% extends 'products/base.html'%}

{% block body%}
{% load static %}

<body>
    <a  onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-left text-white fa-2x m-3"></i>
    </a>
    <h1 class="text-center text-dark fw-bold">Inquiries</h1>

    {% for notification in notifications%}
    {% if notification.product.owner == request.user%}
    <div class="container">
        <div class="row">
            
            
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card bg-dark mb-3">
                    <div class="card-header bg-white text-dark">
                        <div class="row">
                            <div class="col-1">
                                <i class="fa-solid fa-user fa-4x "></i>
                            </div>
                            <div class="col-11">
                                <h3 class="">Buyer </h3>
                                   <strong> {{notification.buyer |capfirst}}</strong>
                            </div>
                        </div>
                      
                    </div>
                    <div class="card-body  bg-white text-dark">
                        <strong >Product : </strong><strong> {{notification.product |capfirst}}</strong>
                        <div class="mt-4 ">
                            <strong>Message:</strong><span class="card-title mt-4"> {{notification.description |capfirst}}</span>
                        </div>
                    
                      
                    </div>
                    <div class="card-footer bg-dark text-white">
                      {{notification.created | date:"D M Y"}} 
                    </div>
                  </div>
                
            </div>
            <div class="col-2"></div>
        </div>
      </div>

    {% endif%}
    {% endfor%}
    

   
    
    
</body>


{% endblock%}
