<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<style>
</style>
<body style="background-color: black;">
    <a  onclick="history.back()">
        <i class="fa-sharp fa-solid fa-arrow-left text-white fa-2x m-3"></i>
    </a>
    <h1 class="text-center text-white fw-bold">Inquiries</h1>

    {% for notification in notifications%}
    {% if notification.product.owner == request.user%}
    <div class="container">
        <div class="row">
            
            
            <div class="col-2"></div>
            <div class="col-8">
                <div class="card bg-dark mb-3">
                    <div class="card-header bg-primary text-white">
                        <div class="row">
                            <div class="col-1">
                                <i class="fa-solid fa-user fa-4x "></i>
                            </div>
                            <div class="col-11">
                                <h3 class="">Buyer </h3>
                                   <strong> {{notification.buyer |capfirst}}</strong>
                            </div>
                        </div>
                      
                    </div>
                    <div class="card-body  bg-danger text-white">
                        <strong >Product : </strong><strong> {{notification.product |capfirst}}</strong>
                        <div class="mt-4 ">
                            <strong>Message:</strong><span class="card-title mt-4"> {{notification.description |capfirst}}</span>
                        </div>
                    
                      
                    </div>
                    <div class="card-footer bg-danger text-white">
                      {{notification.created | date:"D M Y"}} 
                    </div>
                  </div>
                
            </div>
            <div class="col-2"></div>
        </div>
      </div>

    {% endif%}
    {% endfor%}
    

   
    
    
</body>
</html>


